{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.check_email.title'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset_password.check_email.message'|trans }}
    </p>
{% endblock %}